<% if not @favourites.empty? %>
    <ul>
      <% @favourites.each do |f| %>
        <li>
          <%= render 'print_result', favourite: f %>
        </li>
      <% end %>
    </ul>
<% else %>
  <ul>
    Sorry no results!
  </ul>
<% end %>
