<div class="printnav">
  <%= link_to '[Print]', 'placeholder', :onclick => 'window.print();return false;'%>
  <% if params[:annotations].to_i == 1 %>
    <%= link_to "[Toggle annotations]", staff_print_path(:annotations => 0)%>
  <% else %>
    <%= link_to "[Toggle annotations]", staff_print_path(:annotations => 1)%>
  <% end %>
</div>
<h1>Staff Favourites</h1>
<%= render "base/print" %>