<div class="printnav">
  <% if params[:annotations].to_i == 1 %>
    <%= link_to "[Toggle annotations]", course_print_path(:annotations => 0)%>
  <% else %>
    <%= link_to "[Toggle annotations]", course_print_path(:annotations => 1)%>
  <% end %>
</div>
<h1>Course Favourites</h1>
<%= render "base/print" %>
